*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #002339;
}
.container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}
h1{
    width:20%;
  font-size:29px;
  font-weight:500;
  color: #fff;
  text-transform: capitalize;
 

}
span{
     width:20%;
    font-size:29px;
  font-weight:500;
  color: rgb(2, 241, 2);
  border-bottom:2px solid green;

    text-transform: capitalize;
}
.display{
    width: 20%;
    margin-top: 20px;
    display:flex;
    flex-direction: initial;
}
.display input{
    width:90%;
    padding:10px 0px;
    background-color: #fff;
    color: black;
    border: none;
  border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
}
.display i{
    width:10%;
        color: #09f509;
padding:10px 0px;
background-color: #fff;
     border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}
.container button{
    width:15%;
    margin-top: 20px;
    padding:8px 5px;
    background-color: #09f509;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    border-radius:10px;
    cursor: pointer;
}
.display:hover{
    border: 1px solid #fff;
    box-shadow: 3px 5px 8px rgb(1, 138, 1);
    border-radius: 5px;
}